.timeslot-cell {
    height: 70px;
    border-width: 1px;
    border-color: black;
    width: 300px;
}

.timeslot-cell-current {
    height: 70px;
    border-width: 1px;
    border-color: black;
    background-color: rgb(168, 168, 240);
    width: 300px;
}


.time-cell {
    vertical-align: text-top;
}