.timeslot-cell {
    height: 70px;
    border-width: 1px;
    border-color: black;
    border-bottom-style: solid;
    width: 300px;
}

.timeslot-cell-current {
    background-color: rgb(168, 168, 240);
}


.time-cell {

}

.time-label {
    height: 20px;
    top: -38px;
    position: relative;

}